Repository ToFuProject/tofu, pull requests merged in 2019-08, with the labels that each got.

#126 Issue61 imas2tofu more robust
  tofu/__init__.py
  tofu/data/_comp.py
  tofu/data/_core.py
  tofu/data/_physics.py
  tofu/data/_plot.py
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_core.py
  tofu/geom/_plot.py
  tofu/geom/_sampling_tools.pxd
  tofu/geom/_sampling_tools.pyx
  tofu/geom/_vignetting_tools.pyx
  tofu/geom/utils.py
  tofu/imas2tofu/__init__.py
  tofu/imas2tofu/_core.py
  tofu/mag/__init__.py
  tofu/mag/magFieldLines.py
  tofu/mag/mag_ripple/mag_ripple.f
  tofu/tests/tests01_geom/tests03_core.py
  tofu/tests/tests02_data/tests03_core.py
  tofu/utils.py
  tofu/version.py
  tofuplot.py
Labels: data - improve, geom - improve, imas interfacing - improve, portability

#127 Issue61 imas2tofu more robust
  .gitignore
  tofu/__init__.py
  tofu/data/_comp.py
  tofu/data/_core.py
  tofu/data/_physics.py
  tofu/geom/_core.py
  tofu/imas2tofu/_core.py
  tofu/utils.py
  tofu/version.py
  tofucalc.py
Labels: geom - improve, imas interfacing - improve, portability

#132 tf.geom._plot._check_Lax() => first attempt to handle also arrays of …
  tofu/geom/_plot.py
  tofu/version.py
Labels: geom - bug, plotting

#133 Update to Cython >= 0.26 for bug fixes
  README.rst
  conda_recipe/meta.yaml
  setup.py
Labels: bug

#134 [Issue 31] tf.geom._core.Rays.compute_dgeom(): test if nRays > 1 befo…
  tofu/geom/_core.py
  tofu/version.py
Labels: geom - bug

#136 Issue135 t none in los_calc_signal
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/version.py
Labels: geom - bug

#139 Issue137 rays calc from plasma2 d use new gglos calc signal
  calc_signal_benchmark.py
  tofu/data/_comp.py
  tofu/data/_core.py
  tofu/geom/_core.py
  tofu/version.py
Labels: geom - bug

#140 Issue138 calc signal
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/tests/tests01_geom/tests03_core.py
Labels: geom - bug

#141 Issue138 calc signal
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_sampling_tools.pxd
  tofu/geom/_sampling_tools.pyx
Labels: bug, geom - bug, geom - improve

#143 Windows readme
  README.rst
  TODO_EndOfVisit_20181212.txt
  doc/Windows_README.rst
  setup.py
  tofu/version.py
Labels: enhancement, portability

#144 Issue137 rays calc from plasma2 d use new gglos calc signal
  benchmarks/__init__.py
  benchmarks/calc_signal_benchmark.py
  calc_signal_benchmark.py
  doc/Windows_README.rst
  tofu/version.py
Labels: geom - performance

#148 Issue137 rays calc from plasma2 d use new gglos calc signal
  benchmarks/calc_signal_benchmark.py
  tofu/__init__.py
  tofu/version.py
Labels: geom - performance

#146 [nose-config] now nosetests will run certain paramaters as default
  setup.cfg
  setup.py
Labels: enhancement, portability

#151 Issue137 rays calc from plasma2 d use new gglos calc signal
  benchmarks/calc_signal_benchmark.py
  tofu/version.py
Labels: geom - performance

#152 Issue147 pandas dependency config
  conda_recipe/meta.yaml
  setup.py
  tofu/data/_core.py
  tofu/geom/_core.py
  tofu/version.py
Labels: portability

#154 [nosetests] twitching nosetest config file
  setup.cfg
Labels: enhancement

#155 Issue153 bash interface tofu version
  tofu/version.py
  tofucalc.py
  tofuplot.py
Labels: bash interface - improve

#157 [Issue 156] Rays.plot_touch(quant='angles') ok + basic dosctring
  tofu/geom/_core.py
  tofu/geom/_plot.py
  tofu/version.py
Labels: geom - improve

#159 [Issue122]
  tofu/geom/_vignetting_tools.pyx
Labels: bug

#161 [bug-fix] in get_sample
  tofu/geom/_sampling_tools.pyx
  tofu/tests/tests01_geom/tests03_core.py
Labels: bug, geom - bug

#162 [bug-fix] get_sample w/relative step update unit tests
  tofu/geom/_sampling_tools.pyx
  tofu/tests/tests01_geom/tests03_core.py
Labels: geom - bug

#163 Issue158 basic reflections
  tofu/data/_core.py
  tofu/data/_plot.py
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/geom/_plot.py
  tofu/imas2tofu/_core.py
  tofu/tests/tests02_data/tests03_core.py
  tofu/utils.py
  tofu/version.py
Labels: geom - improve

#164 Issue142 calc signal perf
  setup.py
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_distance_tools.pxd
  tofu/geom/_distance_tools.pyx
  tofu/geom/_fast_sum.c
  tofu/geom/_raytracing_tools.pxd
  tofu/geom/_raytracing_tools.pyx
  tofu/geom/_sampling_tools.pxd
  tofu/geom/_sampling_tools.pyx
  tofu/tests/tests01_geom/tests03_core.py
Labels: geom - bug, geom - improve, geom - performance

#166 [geom-perf] Optimization in calc_signal
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_sampling_tools.pxd
  tofu/geom/_sampling_tools.pyx
Labels: geom - performance

#168 [README] Issue165 readme figures
  .gitignore
  README.rst
  README_figures/54300_1dTe_svd.pdf
  README_figures/54300_1dTe_svd.png
  README_figures/CamLOS1D_sino.pdf
  README_figures/CamLOS1D_sino.png
  README_figures/CamLOS1D_touch.pdf
  README_figures/CamLOS1D_touch.png
  README_figures/CamLOS2D_touch_refelect.pdf
  README_figures/CamLOS2D_touch_refelect.png
  README_figures/MagfieldLines.pdf
  README_figures/MagfieldLines.png
  README_figures/Plasma2D_1dneTe.pdf
  README_figures/Plasma2D_1dneTe.png
  tofu/version.py
Labels: enhancement

#169 Nopolygon
  conda_recipe/meta.yaml
  setup.py
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_comp.py
Labels: geom - improve, portability

#170 Delete Windows_README.rst
  doc/Windows_README.rst
Labels: documentation
