Repository ToFuProject/tofu, pull requests merged in 2019-06, with the labels that each got.

#85 Distance LOS-Poly & LOS get sample
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/Distance_LOS_cone.pdf
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/Distance_LOS_cone.tex
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_LOS_Poly.pdf
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_LOS_Poly.pdf_tex
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_LOS_Poly.svg
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_LOS_Poly_plane.pdf
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_LOS_Poly_plane.pdf_tex
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_LOS_Poly_plane.svg
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_above.pdf
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_above.pdf_tex
  Notes_Upgrades/Optimize_LOSInOut/Dist_LOS_Frustum/figures/inter_above.svg
  Notes_Upgrades/Optimize_LOSInOut/LOS_IntersectCone/figures/inter.pdf
  Notes_Upgrades/Optimize_LOSInOut/LOS_IntersectCone/figures/inter.pdf_tex
  Notes_Upgrades/Optimize_LOSInOut/LOS_IntersectCone/figures/inter.svg
  README.rst
  TODO_EndOfVisit_20181212.txt
  setup.py
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/geom/_distance_tools.pxd
  tofu/geom/_raytracing_tools.pxd
  tofu/geom/_sampling_tools.pxd
  tofu/tests/tests01_geom/tests01_GG.py
  tofu/tests/tests01_geom/tests03_core.py
  tofu/version.py
Labels: enhancement, geom - improve, geom - performance

#97 Vignetting
  setup.py
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_distance_tools.pxd
  tofu/geom/_raytracing_tools.pxd
  tofu/geom/_vignetting_tools.pxd
  tofu/geom/_vignetting_tools.pyx
  tofu/tests/tests01_geom/tests01_GG.py
Labels: enhancement, geom - bug, geom - improve

#98 Issue62 nosetest fail
  tofu/imas2tofu/__init__.py
Labels: imas interfacing - bug

#100 Issue61 imas2tofu more robust
  .gitignore
  _updateversion.py
  release_notes/release_notes_140.txt
  setup.py
  tofu/data/_core.py
  tofu/data/_plot.py
  tofu/geom/_core.py
  tofu/geom/utils.py
  tofu/imas2tofu/__init__.py
  tofu/imas2tofu/_configloader.py
  tofu/imas2tofu/_core.py
  tofu/imas2tofu/_diagloader.py
  tofu/imas2tofu/_load.py
  tofu/imas2tofu/_plasma2Dloader.py
  tofu/imas2tofu/_utils.py
  tofu/utils.py
  tofu/version.py
Labels: imas interfacing - improve
