Repository ToFuProject/tofu, pull requests merged in 2019-09, with the labels that each got.

#171 [documentation]
  README.md
  README.rst
  README_figures/cam2d.PNG
  README_figures/configB2.PNG
  README_figures/starting_ipython.PNG
  setup.py
Labels: documentation

#182 [black] formatted comp file
  tofu/geom/_comp.py
  tofu/geom/_core.py
Labels: enhancement

#181 [Issue180] took out useless params of Ves_get_sampleS
  tofu/geom/_comp.py
  tofu/geom/_core.py
Labels: bug, geom - bug

#184 update in setup.py
  setup.py
Labels: portability

#191 Issue188 calc in out isoflux more flexible
  _updateversion.py
  tofu/geom/_core.py
  tofu/tests/tests01_geom/tests03_core.py
  tofu/version.py
Labels: geom - improve

#194 [Issue 186] the assert was on lc, not Types
  tofu/geom/_core.py
  tofu/version.py
Labels: geom - bug

#193 [Issue 189] Rays._checkformat_inputs_dgeom() is now a method instead …
  tofu/geom/_core.py
  tofu/version.py
Labels: geom - bug

#192 Issue187 duplicate init for coils pf
  benchmarks/calc_signal_benchmark.py
  tofu/geom/_core.py
  tofu/version.py
Labels: geom - improve

#199 [bugfix/portability] handling long types on windows
  tofu/data/_core.py
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_core.py
  tofu/tests/tests01_geom/tests01_GG.py
  tofu/tests/tests02_data/tests03_core.py
Labels: portability
