Repository ToFuProject/tofu, pull requests merged in 2019-07, with the labels that each got.

#106 Issue102
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/geom/_raytracing_tools.pxd
  tofu/geom/_raytracing_tools.pyx
  tofu/tests/tests01_geom/tests01_GG.py
Labels: geom - improve, geom - performance

#110 Issue109
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_raytracing_tools.pyx
  tofu/tests/tests01_geom/tests01_GG.py
Labels: geom - bug

#113 Issue71 solid angle particle vectorized
  setup.py
  tofu/geom/_GG02.pyx
  tofu/geom/_GG03.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/geom/_distance_tools.pxd
  tofu/geom/_distance_tools.pyx
  tofu/geom/_raytracing_tools.pxd
  tofu/geom/_raytracing_tools.pyx
  tofu/geom/_sampling_tools.pxd
  tofu/geom/_sampling_tools.pyx
  tofu/tests/tests01_geom/tests01_GG.py
  tofu/version.py
Labels: geom - bug, geom - improve

#116 Feature/conf plot theta phi
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/geom/_def.py
  tofu/geom/_plot.py
  tofu/mag/.gitignore
  tofu/mag/__init__.py
  tofu/mag/equimap.py
  tofu/mag/magFieldLines.py
  tofu/mag/mag_ripple/__init__.py
  tofu/mag/mag_ripple/compile_f2py.sh
  tofu/mag/mag_ripple/mag_ripple.f
  tofu/mag/modules_INTRA_IRFM.txt
  tofu/mag/reference.npz
  tofu/mag/regression_test.py
  tofu/mag/test_equimap.py
  tofu/mag/test_ripple.py
Labels: geom - improve
