Repository ToFuProject/tofu, pull requests merged in 2019-10, with the labels that each got.

#210 Issue209 plasma2 d interpolation
  Debug_JINTRACMesh.pdf
  Debug_JINTRACMesh.png
  Debug_JINTRACMesh.svg
  Debug_JINTRACMesh2.png
  tofu/data/__init__.py
  tofu/data/_core.py
  tofu/data/_core_new.py
  tofu/version.py
Labels: data - bug

#212 [Issue211] Added calc_LOS_length_in_isoflux()
  tofu/geom/_core.py
  tofu/version.py
Labels: geom - improve

#222 Setup.py should not cythonize extensions except when building. #221
  setup.py
Labels: portability
