Repository ToFuProject/tofu, pull requests merged in 2019-12, with the labels that each got.

#309 Feature nstx
  examples/tutorials/tuto_plot_gallery_fusion_machines.py
  tofu/geom/inputs/TFG_Ves_ExpNSTX_V0.txt
  tofu/geom/utils.py
Labels: geom - improve

#315 Quick fix: wrong path in update version
  setup.py
Labels: bug

#319 Issue318 add synth diag ids
  tofu/imas2tofu/_core.py
  tofu/version.py
Labels: imas interfacing - improve

#317 Issue316 common idd for all id sget
  tofu/imas2tofu/_core.py
Labels: imas interfacing - improve

#320 Issue202 spectro x2 d crystal
  Notes_Upgrades/SpectroX2D/SpectroX2D_ConeCircleMagAxis.pdf
  Notes_Upgrades/SpectroX2D/SpectroX2D_ConeCircleMagAxis.tex
  TFG_CrystalBragg_ExpWEST_DgXICS_ArXVII_sh00000_Vers1.4.1-174-g453d6a3.npz
  tofu/geom/_comp_optics.py
  tofu/geom/_core.py
  tofu/geom/_core_optics.py
  tofu/geom/_plot_optics.py
  tofu/imas2tofu/_core.py
  tofu/utils.py
  tofu/version.py
Labels: geom - improve
