Repository ToFuProject/tofu, pull requests merged in 2020-12, with the labels that each got.

#426 Issue #414 README
  README.md
  tofu/version.py
Labels: documentation

#425 Issue #424 Minor debugging for flexibility
  tofu/data/_core.py
  tofu/data/_plot.py
  tofu/geom/utils.py
  tofu/imas2tofu/__init__.py
  tofu/imas2tofu/_comp.py
  tofu/imas2tofu/_comp_toobjects.py
  tofu/imas2tofu/_core.py
  tofu/version.py
Labels: enhancement, geom - improve

#427 Issue422 tools dc5
  tofu/data/_core.py
  tofu/data/_plot.py
  tofu/entrypoints/tofucalc.py
  tofu/geom/_core.py
  tofu/imas2tofu/_comp.py
  tofu/imas2tofu/_core.py
  tofu/utils.py
  tofu/version.py
Labels: imas interfacing - improve

#334 Issue73 sampling volume
  Notes_Upgrades/TODO_EndOfVisit_20181212.txt
  benchmarks/vmeshing_benchmark.py
  tofu/geom/_GG.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/geom/_distance_tools.pyx
  tofu/geom/_sampling_tools.pxd
  tofu/geom/_sampling_tools.pyx
  tofu/geom/_vignetting_tools.pxd
  tofu/geom/_vignetting_tools.pyx
  tofu/tests/tests01_geom/tests01_GG.py
  tofu/tests/tests01_geom/tests03_core.py
Labels: geom - performance

#434 Issue #433 imas2tofu default parameters
  release_notes/release_notes_149.rst
  tofu/imas2tofu/_core.py
  tofu/imas2tofu/_def.py
Labels: imas interfacing - improve

#436 Update doc
  doc/source/release_notes/release_notes_149.rst
  doc/source/releases.rst
  tofu/version.py
Labels: documentation

#451 Issue450 t0 false
  scripts/_dparser.py
  tofu/entrypoints/_def.py
  tofu/entrypoints/tofucalc.py
  tofu/entrypoints/tofuplot.py
  tofu/imas2tofu/_core.py
  tofu/imas2tofu/_def.py
  tofu/version.py
Labels: bash commands, imas interfacing - improve
