Repository ToFuProject/tofu, pull requests merged in 2020-05, with the labels that each got.

#388 Issue #387 Added LICENSE.txt to MANIFEST.in
  MANIFEST.in
Labels: portability

#390 Issue #385 tofu version bash
  .travis.yml
  scripts/__init__.py
  scripts/tofucustom.py
  scripts/tofuversion.py
  setup.py
  tofu/entrypoints/__init__.py
  tofu/entrypoints/_def.py
  tofu/entrypoints/tofucalc.py
  tofu/entrypoints/tofuplot.py
  tofu/version.py
Labels: bash commands

#380 Issue #379 synth diag units imas
  tofu/data/_core.py
  tofu/entrypoints/tofucalc.py
  tofu/entrypoints/tofuplot.py
  tofu/geom/_core.py
  tofu/geom/inputs/_DEPRECATED_WEST_CoilPF_Notes.backupy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_Baffle_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_BumperInner_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_BumperOuter_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_DivLowGC_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_DivLowITER_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_DivUp_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_IC1_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_IC2_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_IC3_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_LH1_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_LH2_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PFC_Ripple_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_PlasmaDomain_Standard_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_Ves_VesIn_Notes.backuppy
  tofu/geom/inputs/_DEPRECATED_WEST_Ves_VesOut_Notes.backuppy
  tofu/imas2tofu/_comp.py
  tofu/imas2tofu/_comp_mesh.py
  tofu/imas2tofu/_comp_toobjects.py
  tofu/imas2tofu/_core.py
  tofu/imas2tofu/_def.py
  tofu/utils.py
  tofu/version.py
Labels: imas interfacing - improve

#391 [Issue281] Added txt and npz files for DEMO2019 and TOMAS
  tofu/geom/_core.py
  tofu/geom/inputs/DEMO-2019-V1_backup.npz
  tofu/geom/inputs/TFG_PFC_ExpDEMO2019_BlanketInnerV0.txt
  tofu/geom/inputs/TFG_PFC_ExpDEMO2019_BlanketOuterV0.txt
  tofu/geom/inputs/TFG_PFC_ExpDEMO2019_DivertorV0.txt
  tofu/geom/inputs/TFG_PFC_ExpDEMO2019_LimiterEquatV0.txt
  tofu/geom/inputs/TFG_PFC_ExpDEMO2019_LimiterUpperV0.txt
  tofu/geom/inputs/TFG_PFC_ExpTOMAS_AntennaV0.txt
  tofu/geom/inputs/TFG_PFC_ExpTOMAS_LimiterV0.txt
  tofu/geom/inputs/TFG_Ves_ExpDEMO2019_V0.txt
  tofu/geom/inputs/TFG_Ves_ExpTOMAS_V0.txt
  tofu/geom/inputs/TOMAS-V1_backup.npz
  tofu/geom/utils.py
  tofu/version.py
Labels: enhancement

#393 Issue #392 tofucalctesting
  scripts/tofucustom.py
  tofu/entrypoints/tofucalc.py
  tofu/entrypoints/tofuplot.py
  tofu/imas2tofu/_comp.py
  tofu/imas2tofu/_core.py
  tofu/imas2tofu/_def.py
  tofu/utils.py
  tofu/version.py
Labels: imas interfacing - improve

#396 Issue #395 imas units2
  setup.py
  tofu/imas2tofu/_comp.py
  tofu/imas2tofu/_def.py
  tofu/version.py
Labels: imas interfacing - bug
