Repository ToFuProject/tofu, pull requests merged in 2020-01, with the labels that each got.

#308 Faster los calc signal sum calls for newcalc=False
  tofu/data/_comp.py
  tofu/data/_core.py
  tofu/geom/_core.py
  tofu/tests/tests01_geom/tests03_core.py
  tofu/tests/tests02_data/tests03_core.py
Labels: geom - performance

#322 Faster LOS calc signal with new_calc = True
  tofu/geom/_GG.pyx
Labels: enhancement, geom - improve

#323 [ #314 ] fixed bug on mac coming from modulo with negative values
  tofu/geom/_GG.pyx
Labels: geom - bug

#325 Issue321 rectangular grid metis
  tofu/__init__.py
  tofu/data/_comp.py
  tofu/data/_core.py
  tofu/data/_plot.py
  tofu/geom/_core.py
  tofu/imas2tofu/_core.py
  tofu/utils.py
  tofu/version.py
Labels: imas interfacing - improve

#327 #301 List of available config accessible for end-users
  tofu/geom/utils.py
  tofu/version.py
Labels: geom - improve

#328 New travis matrix
  .travis.yml
  Notebooks/Cython_speedup_notes.ipynb
  _updateversion.py
  conda_recipe/conda_upload.sh
  conda_recipe/meta.yaml
  examples/tutorials/tuto_plot_custom_emissivity.py
  setup.py
  tofu/geom/_comp.py
  tofu/version.py
Labels: portability

#332 [bf #331] raising exceptions when poly ill defined
  tofu/geom/_GG.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/version.py
Labels: bug, help wanted

#333 Issue281 new default configs - AUG
  Notes_Upgrades/meetings/nov_2019.md
  tofu/geom/_GG.pyx
  tofu/geom/_basic_geom_tools.pxd
  tofu/geom/_basic_geom_tools.pyx
  tofu/geom/_comp.py
  tofu/geom/_core.py
  tofu/geom/inputs/AUG_vessel_20200116.coords
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2cTPi.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2cTPib.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2cTPic.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2cdomL.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2cdomR.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2cdome.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2ci1.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2ci2.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBG2.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBl1.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBl2.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBl3.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBu1.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBu2.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBu3.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D2dBu4.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D3BG1.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_D3BG10.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_ICRHa.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_LIM09.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_PClow.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_PCup.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_SBi.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPLT1.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPLT2.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPLT3.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPLT4.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPLT5.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPRT2.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPRT3.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPRT4.txt
  tofu/geom/inputs/TFG_PFC_ExpAUG_TPRT5.txt
  tofu/geom/inputs/TFG_Ves_ExpAUG_VESiR.txt
  tofu/geom/utils.py
  tofu/version.py
Labels: geom - improve

#330 [doc] updated gallery tuto: bf #329
  examples/tutorials/tuto_plot_gallery_fusion_machines.py
Labels: documentation

#338 [Issue #337] replaced Poly_Order by format_poly
  tofu/geom/_GG.pyx
  tofu/geom/_comp.py
  tofu/tests/tests01_geom/tests01_GG.py
Labels: geom - improve

#336 [Issue335] description_2d propagated and set to 1 by default
  tofu/imas2tofu/_core.py
  tofu/version.py
Labels: imas interfacing - improve
