Repository ToFuProject/tofu, pull requests merged in 2021-02, with the labels that each got.

#456 [flake8] solves a big part of #453
  tofu/_plot.py
  tofu/data/_comp.py
  tofu/data/_core.py
  tofu/data/_core_new.py
  tofu/data/_plot.py
  tofu/data/_spectrafit2d.py
  tofu/dust/_core.py
  tofu/dust/_plot.py
  tofu/geom/_comp_optics.py
  tofu/geom/_core.py
  tofu/geom/_core_optics.py
  tofu/geom/_plot.py
  tofu/imas2tofu/_comp.py
  tofu/imas2tofu/_comp_mesh.py
  tofu/imas2tofu/_comp_toobjects.py
  tofu/imas2tofu/_core.py
  tofu/imas2tofu/_mat2ids2calc.py
  tofu/mag/__init__.py
  tofu/pathfile.py
  tofu/tests/tests01_geom/test_01_GG.py
  tofu/utils.py
Labels: bug

#460 Issue281 new default configs
  inputs_temp/ITER_geom_from_Imas_sh1180_r17_public_tokITER_MD.npz
  tofu/geom/_core.py
  tofu/geom/inputs/TFG_CoilCS_ExpITER_CS1L.txt
  tofu/geom/inputs/TFG_CoilCS_ExpITER_CS1U.txt
  tofu/geom/inputs/TFG_CoilCS_ExpITER_CS2L.txt
  tofu/geom/inputs/TFG_CoilCS_ExpITER_CS2U.txt
  tofu/geom/inputs/TFG_CoilCS_ExpITER_CS3L.txt
  tofu/geom/inputs/TFG_CoilCS_ExpITER_CS3U.txt
  tofu/geom/inputs/TFG_CoilPF_ExpITER_PF1.txt
  tofu/geom/inputs/TFG_CoilPF_ExpITER_PF2.txt
  tofu/geom/inputs/TFG_CoilPF_ExpITER_PF3.txt
  tofu/geom/inputs/TFG_CoilPF_ExpITER_PF4.txt
  tofu/geom/inputs/TFG_CoilPF_ExpITER_PF5.txt
  tofu/geom/inputs/TFG_CoilPF_ExpITER_PF6.txt
  tofu/geom/inputs/TFG_Ves_ExpITER_Cryostat.txt
  tofu/geom/inputs/TFG_Ves_ExpITER_InnerV0.txt
  tofu/geom/inputs/TFG_Ves_ExpITER_OuterV0.txt
  tofu/geom/utils.py
  tofu/utils.py
Labels: geom - improve

#464 Issue #463 config loading definition
  tofu/__init__.py
  tofu/geom/_def_config.py
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingCoverLDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingCoverUDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingLDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingPFUPlateLDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingPFUPlateUDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingPJLDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingPJUDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_CasingUDivV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_ThermalShieldHFSV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_ThermalShieldLFSLowV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_ThermalShieldLFSSlimV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_ThermalShieldLFSUpV0.txt
  tofu/geom/inputs/TFG_PFC_ExpWEST_ThermalShieldLFSWideV0.txt
  tofu/geom/inputs/TFG_Ves_ExpWEST_InnerV0.txt
  tofu/geom/inputs/TFG_Ves_ExpWEST_OuterV0.txt
  tofu/geom/inputs/WEST_Geometry_Rev_Nov2016_V2.xlsx
  tofu/geom/inputs/WEST_get_details_from_excel.py
  tofu/geom/utils.py
  tofu/tests/tests02_data/test_03_core.py
Labels: geom - improve

#466 Issue #465: Wrong indexing of Struct touched by Rays
  tofu/geom/_core.py
Labels: geom - bug

#468 Issue #467 tcv inner vessel loop
  tofu/geom/_core.py
  tofu/geom/_def_config.py
  tofu/geom/_plot.py
  tofu/geom/inputs/TFG_Ves_ExpTCV_v.txt
  tofu/geom/inputs/TFG_Ves_ExpTCV_vIn.txt
  tofu/geom/inputs/TFG_Ves_ExpTCV_vOut.txt
Labels: geom - bug

#472 [#471] fixed array shape of parameter k in are_vis_ptsfrompts
  tofu/geom/_GG.pyx
  tofu/geom/_comp.py
  tofu/geom/_raytracing_tools.pxd
  tofu/geom/_raytracing_tools.pyx
  tofu/tests/tests01_geom/test_01_GG.py
  tofu/utils.py
Labels: geom - bug
